.txt{
    font-family: "Montserrat",sans-serif;
    font-size: 25px;
     font-weight: 500;
    /*letter-spacing: -.013rem;   */
    text-align:'center';
    margin-left:30px;
    padding :20px;
    color:green;
    
}

.sub-txt{
    color: green;
    text-align: center;
    margin-right: 100px;
}

.txt-details{
    text-align: center;
    padding-bottom: 20px;
    margin-right: 100px;
    color: #623F1C;
}

.img-illustration-container{
    padding-top: 0px;
    width: 150px;
    height: 150px;
    margin-right: 100px;

}
.img-details{
    color:"green";
    text-align:'center';  
    align-items: center ;
    padding: 5px;  
    
}
.Container{
    background-color: green;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 40px;
    padding-right: 30px;
    margin-right: 70px;
    margin-left: 70px;
    
}
