
.buyer-hero-container {
  
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 87.3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color: #fff;
     
  }
  
  .hero-section{
    align-items: left;
    background-color: #fff;
    height:80%;
    width: 100%;
  }
  /* Add a border and image to the seller's page */



.seller-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

  
  
  .sub-heading{
    color: #623F1C;
    height:300px;
    width:50%;
    align-items: left;
    padding-left: 40px;
    padding-top: 60px;
    justify-content: bottom;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 40px;
    font-family: "Montserrat",sans-serif;
  }
  
  .main-heading{
    color: rgb(103, 194, 125);
    font-family: "Montserrat",sans-serif;
    font-weight: normal;
    font-size: 21px;
    justify-content:end; 
    align-content: right;
    line-height: normal;
    width: 950px;
    padding: 20px;
    
  }

  .seller-page {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
  }
  
  
  .product-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(233, 248, 239)
    
  }
  
  
  .img-container{
  
  width: 500px;
  height: 500px;
  align-self: center;
  opacity: 100%;
  
  }
   .img{
    padding-top: 100px;
    float:right;
    margin-left: 70px;
    padding-right: 130px;
    width: 400px;
    height: 100px;
    margin-right: 60px;
    opacity: 100%;
   }
  
  
  .btn-container{
      margin-top: -20vh;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
  
  }
  
  .butn {
    margin-top: 33px;
    font-size: 20px;
    margin: 35px;
    padding: 20px;
    width: 150px;
    height: 75px;
    background-color: #fff;
    color: #fff;
    border-radius: 2px;
    border: 1px;
    border-style: solid;
    border-color: black;
    align-content: center;
    align-items: center;
  }
  
  .butn:hover{
  
    background-color: #ab8968;
    border: 2px;
    border-style: solid;
    border-color: black;
    
  }
    .bg-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: -1;
      opacity:0.85;
    }  
  
    
   